body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 10% auto 10%;
}

.head {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 10px 20px;
    background-color: #434e80;
}

.kvantums-list {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 30% 30% 30%;
    border-radius: 20%;
}

/*belongs to kvantums-list*/
.kvantums-list > div {
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

#kvantums-heading {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#circled-logo-left {
    border-bottom-left-radius: 20%;
}

#circled-logo-right {
    border-bottom-right-radius: 20%;
}

/*belongs to container*/
.move-slides-left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 160, 77);
}

.move-slides-right {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 160, 77);
}

footer {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(230, 160, 77);
}
